body {
  padding: 10px;
  margin: 0;
  font-family: Gilroy;
  line-height: 1.6;
  font-size: 18px;
  background-color: steelblue;
  color: azure;
}

#counter {
  font-size: 3rem;
}

button {
  font-size: 2rem;
  font-family: Gilroy;
  font-weight: bold;
  color: steelblue;
}

.even {
  background-color: coral;
}

.odd {
  background-color: darkslategrey;
}